.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color : white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:80vh;
  padding-inline: 3rem;
}



.landingMainContainer > div:nth-child(1){

 font-size: 2rem;

}


.landingMainContainer > div:nth-child(1) div[role ='button']{

  background-color: #D97500;
  width : fit-content;
  padding:1rem;
  border-radius: 20px;
  margin-top: 1.5rem;
 }

 
.landingMainContainer > div:nth-child(1) div[role ='button'] a {

  text-decoration: none;
  color: white;
  font-size: 1.7rem;

 
 }

.landingMainContainer > div:nth-child(2){

 height: 70vh;
 width: auto;

}


.glow-image {
  box-shadow: 0 0 40px  rgba(255, 255, 255, 0.2); 
  border-radius: 12px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glow-image:hover {
  transform: scale(1.02);
  box-shadow: 0 0 65px rgba(255, 255, 255, 0.2);
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.glow-image {
  animation: float 4s ease-in-out infinite;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    text-align: center;
    padding-inline:20px;
    
}


.meetContainer{

  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;

}

.leftPanel{
  display: flex;
  align-items: center;
  
}
.rightPanel{
  display: flex;
  align-items: center;
}

.rightPanel > img{

  width: 30vw;
  height: auto;
  border-radius: 20px;

}